---
layout: default
---

{% include base_path %}

<div id="main" role="main" tabindex="-1"{% if page.url == "/" %} class="is-home"{% endif %}>
  {% include sidebar.html %}

  <article class="page{% if page.page_class %} {{ page.page_class }}{% endif %}">
    <div class="page__inner-wrap">
      {% unless page.hide_title %}
        <header class="page__header">
          {% if page.kicker %}<p class="page__kicker">{{ page.kicker }}</p>{% endif %}
          <h1 class="page__title">{{ page.title | markdownify | remove: "<p>" | remove: "</p>" | strip }}</h1>
          {% if page.lead %}<p class="page__lead">{{ page.lead | markdownify | remove: "<p>" | remove: "</p>" | strip }}</p>{% endif %}
          {% if page.read_time %}<p class="page__meta">{% include read-time.html %}</p>{% endif %}
        </header>
      {% endunless %}

      <section class="page__content">
        {{ content }}
      </section>
    </div>
  </article>
</div>
